* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #0f0f0f;
    font-family: "Reddit Mono", monospace;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Setando o tamanho do container */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    width: 96vw;
    height: 96vh;
}

/* Setando a imagem */

.img {
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.img:hover {
    cursor: pointer;
}

.horizon {
    width: 90%;
    height: 50%;
    overflow-y: auto;
    object-fit: cover;
}

.vertical {
    height: 50%;
    width: 90%;
    object-fit: cover;
}

/* Alternando o lightbox */

.lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    width: 90vw;
    height: 90vh;
}

.displayOn {
    display: flex;
}

.displayOff {
    display: none;
}

.mainImg {
    width: auto;
    height: 70%;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    object-fit: cover;
}

.lightbox_images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    width: 90%;
    height: 25%;
}

/* Expandindo a imagem principal ao clicar nela */

.expandMainImg {
    position: absolute;
    height: 90vh;
    width: auto;
    border-radius: 8px;
    overflow-x: auto;
    margin: 20px auto;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    object-fit: fill;
}

/* Icone para trocar a imagem expandida */

.icon {
    
}

