* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Reddit Mono", monospace;
  background: rgb(8, 8, 8);
}

/* Estilo do corpo do site */

.background {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  border: 1px solid azure;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(8, 8, 8), rgb(16, 16, 16));
}

/* Estilo do nav */

.conteiner-nav {
  display: flex;
  margin: 2.5% auto;
  width: 50vw;
  height: 10vh;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, rgb(16, 16, 16), rgb(32, 32, 32));
  color: rgb(75, 75, 75);
}

.conteiner-nav div {
  display: flex;
  margin: 20px;
  align-items: center;
}

.linkLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.conteiner-nav div a img {
  width: 5vw;
}

.conteiner-nav button {
  margin: 0 20px 0 20px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 3vh;
  width: 4vh;
  background: transparent;
  background-image: url(img/Ham\ icon.svg);
  background-repeat: no-repeat;
  background-size: 3vh;
}

.off {
  visibility: hidden;
  scale: 0;
  position: absolute;
  right: 16vw;
  top: 10vh;
  background: linear-gradient(45deg, rgb(16, 16, 16), rgb(32, 32, 32));
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s ease;
  transform-origin: 0% 0%;
}

.off ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: 1px solid azure;
  border-radius: 20px;
}

.off ul li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.off ul li:hover {
  background-color: rgb(75, 75, 75);
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.off ul li a {
  color: azure;
  text-decoration: none;
  padding: 10px;
}

/* Estilo do hero */

.conteiner-hero {
  margin: 6% auto;
  width: 80vw;
}

.changeDisplayOn {
  display: block;
}
.changeDisplayOff {
  display: none;
}

.slogan {
  color: azure;
  font-size: 3rem;
  padding: 20px;
}

.slogan span {
  color: rgb(154, 154, 154);
}

.descricao {
  color: rgb(154, 154, 154);
  font-size: 1rem;
  padding: 20px;
  margin-bottom: 5%;
}

.fale_comigo {
  margin-left: 20px;

  border-radius: 20px;
  color: azure;
  text-decoration: none;
  padding: 20px;
  background: linear-gradient(45deg, rgb(16, 16, 16), rgb(32, 32, 32));
}

.projetos {
  padding: 20px;
  background-color: transparent;
  color: azure;
}

/* Estilo da section projetos */

.active {
  background: linear-gradient(45deg, rgb(16, 16, 16), rgb(32, 32, 32));
  border-radius: 20px;
}

#projetos {
  font-size: 2vh;
}

#projetos ol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: azure;
  list-style: none;
}

#projetos ol li {
  padding: 20px;
}

#projetos ol li:hover {
  cursor: pointer;
}

#projetos ol li a {
  margin: 20xp;
  text-decoration: none;
  color: azure;
}

#projetos div a img {
  background-color: white;
  height: 10vh;
  width: 20vw;
  border-radius: 20px;
  margin: 10px;
}

#projetos div {
  color: azure;
}

.projetosPageContent div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

/* Section Contato */

.formContato:nth-child(n - 1) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
  color: azure;
}

.formContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContato section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContato section textarea {
  padding: 5px;
}

#formSubmit {
  margin-top: 20px;
  height: 5vh;
  width: 10vw;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(16, 16, 16), rgb(32, 32, 32));
  color: azure;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 1s ease;
  border: 1px solid azure;
}

#formSubmit:hover {
  background: linear-gradient(45deg,rgb(136, 136, 136), rgb(240, 240, 240));
  color: rgb(16,16,16);
}

.formContato section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContato section div input {
  padding: 5px;
  outline: none;
}
.formContato section p {
  margin-top: 20px;
}

.formContato section div label {
  padding: 10px;
}

.formContato section a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: azure;
}

.formContato section a img {
  margin-right: 10px;
  height: 5vh;
}

.zap {
  margin-top: 50px;
}

/* Section Sobre*/

#sobre div {
  background: linear-gradient(45deg, rgb(16, 16, 16), rgb(32, 32, 32));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  color: azure;
  height: 60vh;
  width: 80vw;
}

#sobre div img {
  margin-left: 20px;
  height: 100%;
  border-radius: 20px;
}
